*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
/*Contenido Celular*/
.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 100px
        "navbar" 50px
        "main" auto
        "sidebar" 100px
        "footer" 100px;
}
.header{
    grid-area: header;
    background-color: aliceblue;
}
.navbar{
    grid-area: navbar;
    background-color: antiquewhite;
}
.main{
    grid-area: main;
    background: linear-gradient(to right, #959595 0%, #1B1B1B 100%);
}
.sidebar{
    grid-area: sidebar;
    background-color: aquamarine;
}
.footer{
    grid-area: footer;
    background-color: azure;
}

/*medias queries*/
/*Tablet*/
@media (min-width: 600px){
    .grid-container{
        grid-template: 
        "header  header" 100px /*Alto*/
        "navbar  navbar" 50px /*Alto*/
        "sidebar main" auto /*Alto*/
        "footer  footer" 100px /*Alto*/ /
        200px    auto; /*Ancho de columnas*/       
    }
}
/*PC*/
@media (min-width: 900px){
    .grid-container{
        grid-template: 
        "header  header header" 100px /*Alto*/
        "navbar  main   sidebar" auto /*Alto*/
        "footer  footer footer" 100px /*Alto*/ /
        150px    auto   150px; /*Ancho de columnas*/    
        gap: 0 0px; 
    }
    .header, .navbar, .main, .sidebar, .footer{
        border-radius: 0px;
    }

    /*Header*/
    .header{
        background-color: black;
        color: #fff;
        display: grid;
        grid-template: 
        "btnHeader1 . . . . btnHeader2 btnHeader3 btnHeader4 btnHeader5 btnHeader6";
        align-items: center;
        text-align: end;
        
    }
    .header :first-child{
        text-align: start;/*Inicio pegado a la izquierda*/
        margin-left: 20px;
    }
    .header :last-child{ 
        margin-right: 20px; /*Contactame al fin con margen a la derecha*/
    }
    .header a:hover{
        font-size: 30px;
        transition: 0.7s;
    }
    .header a{
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        transition: 0.7s;   
    }

    .btnHeader1{
        grid-area: btnHeader1;   
    }
    .btnHeader2{
        grid-area: btnHeader2;
    }
    .btnHeader3{
        grid-area: btnHeader3;
    }
    .btnHeader4{
        grid-area: btnHeader4;
    }
    .btnHeader5{
        grid-area: btnHeader5;
    }
    .btnHeader6{
        grid-area: btnHeader6;
    }
    /*Fin Header*/


    /*Nabvar*/
    .navbar,.sidebar{
        background-color: #bfbfbf;
    }
    .navbar img{
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            background-color: green;
            border: 2px solid #4CAF50;
    }
    /*Fin nab - side*/

    /*Inicio main*/
    .main{
        display: grid;
        grid-template: 
        "sobreMi"
        "habilidades"
        "trabajos"
        "curriculum"
        "contactame";
    }
    .main div{
        
        

    }
    .sobreMi{
        grid-area: sobreMi;
        display: grid;
        grid-template:
        "parrafoSM imagenSM" 500px / 50%;/*Alto 500 - ancho 50%*/
        /* padding: 10px 10px; */
        background-color: #020202;
        border-radius: 5px;
    }
    .habilidades{
        grid-area: habilidades;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,151,181,1) 35%, rgba(0,121,255,1) 100%); 
        display: grid;
        grid-template: 
        "imgLenguajes parrafoHabilidades" 500px / 50%;
    }
    .trabajos{
        grid-area: trabajos;
    
    }
    .curriculum{
        grid-area: curriculum;
        height: 250px;
    }
    .contactame{
        grid-area: contactame;
    }

    /*Contenido dentro de los divs*/
    .parrafoSM{
        border-radius: 5px 0 0 0;
    }
    .imagenSM{
        border-radius: 0px 5px 0 0;
    }
    .imagenSM{
        background-image: url(./img/img.jpg);
        background-position: center;
        background-size:cover;
    }
    .parrafoSM{
        background-color: #fff; 
        padding-top: 25px;
        display: block;
    }
    .parrafoSM h1,h3{
        color: #542172;
    }
    .parrafoSM h1{
        font-size: 50px;
    }
    .parrafoSM, h3{
        font-size: 30px;
        padding-bottom: 50px;
    }
    .parrafoSM, .parrafoHabilidades p{
        /* padding-top: 50px; */
        font-size: 20px;
    }
    /* Fin Sobre mí */
    /* Habilidades */

    .imgLenguajes{
        position: relative;
        
    }
    .imgTest{
   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
        
    }
    .parrafoHabilidades{  
        position: relative;

    }
    .parrafoHabilidades .parrafoDiv{        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 90%;
        height: 90%;
        border-radius: 5px;
        padding: 0px 15px 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Fin habilidades */
    /* Inicio Trabajos */

    .card{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .imgCard1{
        background-image: url(./img/php.jpg);
        background-position: center;
        background-size:cover;
        height: 350px;    
    }
    .imgCard2{
        background-image: url(./img/cc.jpg);
        background-position: center;
        background-size:cover;
        height: 350px;     
    }
    .imgCard3{
        background-image: url(./img/cc.jpg);
        background-position: center;
        background-size:cover;
        height: 350px;    
    }
    .card1,.card2{
        margin-right: 5px;
    }

    /*Formulario*/

    .contactame{  
        width: 460px; 
        height: auto;
        margin: 80px auto;
        border-radius: 10px;      
        background-color: #fbfbfb; 
        padding: 15px 0 15px 0;
      }    
      input{
        background-color: #fbfbfb; 
        width: 408px; 
        height: 40px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #ab4493; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 10px; 
      }    
      textarea{
        background-color: #fbfbfb; 
        width: 405px; 
        height: 150px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #ab4493; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
        padding-top: 15px; 
      }     
      label{
        display: block; 
        float: center;  
      } 
      button{
        height: 45px; 
        margin-bottom: 20px; 
        text-transform: uppercase;
        background-color: #ab4493; 
        border-color: #ab4493; 
        border-style: solid; 
        border-radius: 10px;  
        width: 420px;   
        cursor: pointer;
      }     
      button p{
        color: #fff; 
      }      
      span{
        color: #ab4493; 
      }     
      .aviso{
        font-size: 13px;  
        color: #0e0e0e;  
      }    
      .formulario h1{
        font-size: 39px;  
        text-align: letf; 
        padding-bottom: 20px; 
        color: #ab4493;
      }    
      .formulario h3{
        font-size: 16px; 
        padding-bottom: 30px;
        color: #0e0e0e;   
      }
    
      .formulario p{
        font-size: 14px; 
        color: #0e0e0e; 
        padding-top: 10px;
      }  
      ::-webkit-input-placeholder {
       color: #a8a8a8;
      }
          
      ::-webkit-textarea-placeholder {
       color: #a8a8a8;
      }     
      .formulario input:focus{
        outline:0;
        border: 1px solid #97d848;
      }   
      .formulario textarea:focus{
        outline:0;
        border: 1px solid #97d848;
      }

    /*footer*/
    .footer{
        background-color: black;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .footer i{
        font-size: 20px;
        color: #fff;
        margin-left: 15px;
    }
    .footer p{
        margin-left: 15px;
        margin-top: 10px;
    }



    
}