*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
/*Contenido Celular*/
.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 100px
        "navbar" 50px
        "main" auto
        "sidebar" 100px
        "footer" 100px;
}
.header{
    grid-area: header;
    background-color: aliceblue;
}
.navbar{
    grid-area: navbar;
    background-color: antiquewhite;
}
.main{
    grid-area: main;
    /*background: linear-gradient(to right, #646464 0%, #1B1B1B 100%);*/
}
.sidebar{
    grid-area: sidebar;
    background-color: aquamarine;
}
.footer{
    grid-area: footer;
    background-color: azure;
}

/*medias queries*/
/*Tablet*/
@media (min-width: 600px){
    .grid-container{
        grid-template: 
        "header  header" 100px /*Alto*/
        "navbar  navbar" 50px /*Alto*/
        "sidebar main" auto /*Alto*/
        "footer  footer" 100px /*Alto*/ /
        200px    auto; /*Ancho de columnas*/       
    }
}
/*PC*/
@media (min-width: 900px){
    .grid-container{
        grid-template: 
        "header  header header" 100px /*Alto*/
        "navbar  main   sidebar" auto /*Alto*/
        "footer  footer footer" 100px /*Alto*/ /
        150px    auto   150px; /*Ancho de columnas*/    
        gap: 0 0px; 
    }
    .header, .navbar, .main, .sidebar, .footer{
        border-radius: 0px;
    }

    /*Header*/
    .header {
        background-color: black;
        color: #fff;
        display: flex; /* Utilizamos flexbox */
        justify-content: flex-end; /* Alineamos los elementos a la derecha */
        align-items: center; /* Centramos verticalmente los elementos */
        
    }
    
    .navItems {
        display: flex;
    }
    
    .navItems a {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        transition: 0.7s;
        margin-left: 20px; /* Espaciado entre enlaces */
        height: 100%; /* Para asegurar que los enlaces ocupen toda la altura del header */
        display: flex; /* Para centrar verticalmente el texto */
        align-items: center; /* Centrar verticalmente el texto */
    }
    
    .navItems a:hover {
        color: gray;
        transition: 0.7s;
    }
    
    
    /*Fin Header*/


    /*Nabvar*/
    .navbar{
        background-color: #1B1B1B;
        border-right: none;
    }
    .sidebar{
        background-color: #1B1B1B;
    }
    .navbar img{
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
            background-color: green;
            border: 2px solid #4CAF50;
    }
    .nav_img{
        width: 75px;
        height: 75px;
        background-position: center;
        background-size:cover;
        display: block;
        margin-left: 25px;
    }
    .nav_01{
        background-image: url(./iconos/i_html.png);
        
    }
    .nav_02{
        background-image: url(./iconos/i_css.png);
    }
    .nav_03{
        background-image: url(./iconos/i_js.png);
    }
    .nav_04{
        background-image: url(./iconos/i_boots.png);
        border-radius: 15px;
    }
    .nav_05{
        background-image: url(./iconos/i_node.png);
    }
    .nav_06{
        background-image: url(./iconos/i_csharp.jpg);
    }
    /*Fin nab - side*/
    /*Inicio main*/
    .main{
        display: grid;
        grid-template: 
        "sobreMi"
        "habilidades"
        "trabajos"
        "curriculum"
        "contactame";
    }

    .sobreMi{
        grid-area: sobreMi;
        display: grid;
        grid-template:
        "parrafoSM imagenSM" 500px / 50%;/*Alto 500 - ancho 50%*/
        /* padding: 10px 10px; */
        background-color: #020202;
        border-radius: 5px;
    }
    .habilidades{
        grid-area: habilidades;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,151,181,1) 35%, rgba(0,121,255,1) 100%); 
        display: grid;
        grid-template: 
        "imgLenguajes parrafoHabilidades" 500px / 50%;
    }
    .trabajos{
        grid-area: trabajos;
    
    }
    .curriculum{
        grid-area: curriculum;
        height: 250px;
    }
    .contactame{
        grid-area: contactame;
    }

    /*Contenido dentro de los divs*/
    .parrafoSM{
        border-radius: 5px 0 0 0;
    }
    .imagenSM{
        border-radius: 0px 5px 0 0;
    }
    .imagenSM{
        background-image: url(./img/img.jpg);
        background-position: center;
        background-size:cover;
    }
    .parrafoSM{
        background-color: #fff; 
        padding-top: 25px;
        display: block;
    }
    .parrafoSM h1,h3{
        color: #ab4493;
    }
    .parrafoSM h1{
        font-size: 50px;
    }
    .parrafoSM, h3{
        font-size: 30px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .parrafoSM, .parrafoHabilidades p{
        font-size: 20px;
    }
    .parrafoSM p{
        text-align: left;
    }
    /* Fin Sobre mí */
    /* Habilidades */

    .contenedor {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    .imgLenguajes {
        flex: 1;
        margin-right: 10px;
    }
    
    .imgTest {
        max-width: 100%;
    }
    
    .parrafoDiv {
        flex: 1;
        text-align: left;
    }
    
    .parrafoDiv p {
        font-size: 20px;
        line-height: 1.6;
    }
    
    
    /* Fin habilidades */
    /* Inicio Trabajos */

    .card{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .imgCard1{
        background-image: url(./img/php.jpg);
        background-position: center;
        background-size:cover;
        height: 300px;    
    }
    .imgCard2{
        background-image: url(./img/htmlcssjs.PNG);
        background-position: center;
        background-size:cover;
        height: 300px;     
    }
    .imgCard3{
        background-image: url(./img/mysql.PNG);
        background-position: center;
        background-size:cover;
        height: 300px;    
    }
    .imgCard4{
        background-image: url(./img/imgc.PNG);
        background-position: center;
        background-size:cover;
        height: 300px;    
    }
    .card1,.card2{
        margin-right: 5px;
    }


    /*footer*/
    .footer{
        background-color: black;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .footer i{
        font-size: 20px;
        color: #fff;
        margin-left: 15px;
    }
    .footer p{
        margin-left: 15px;
        margin-top: 10px;
    }



    
}